* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(24, 24, 46);
}

.container {
    text-align: center;
    border: 1px solid rgb(24, 24, 46);
    border-radius: 30px;
}

.input-section {
    background-image: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    padding: 3.3rem 0; 
    border-radius: 30px 30px 0 0;
}

.input-header {
    width: 75%;
    margin: 0 auto;
}

.input-section h3 {
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

input {
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    font-size: 6.1rem;  
    border: none;
    outline: none;
    width: 85%;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.05);
}

.converter-section {
    background-color: hsl(215, 28%, 17%);
    padding: 3.5rem 0;
    border-radius: 0 0 30px 30px;
}

.volume {
    padding: 1.7rem 0;
}

.length_header, .volume_header, .mass_header {
    color: white;
    font-weight: 600;
    padding-bottom: 1rem;
}

.units p{
    color: hsl(0, 0%, 82%);
}

@media screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 3rem 0.9rem;
    }

    .container {
        width: 100%;
        border-radius: 20px;
    }

    .input-section {
        border-radius: 20px 20px 0 0;
    }

    .input-header {
        width: 100%;
    }

    .input-section h3 {
        font-size: 1rem;
    }

    input {
        font-size: 4rem;
        width: 70%;
    }

    .converter-section {
        border-radius: 0 0 20px 20px;
    }

    .length_header, .volume_header, .mass_header {
        font-size: 0.9rem;
        padding-bottom: 0.8rem;
    }

    .units p{
        font-size: 0.85rem;
    }

    .units span {
        display: block;
        padding-top: 0.3rem;
    }

    .units strong {
        display: none;
    }
}

@media screen and (min-width: 460px) and (max-width: 767px) {
    body {
        padding: 3rem 0;
    }
    .container {
        width: 97%;
        max-width: 420px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 7rem 0 12rem 0;
    }

    .container {
        width: 75%;
        max-width: 600px;
        margin: 0 auto;
    }
}